$white: #fffefc;
$lime: #caf200;
$dkgrey: #333333;
$grey: #ccc;
$ltgrey: #e2e3df;
$beer: #DDBF00;
$pfont: "futura-pt", sans-serif;

/* @font-face {
  font-family: 'oldLondon';
  src: url(../OldLondon.ttf);
} */

$font: 'avenir', serif;

@mixin transition($transition) {
  transition: $transition;
  -webkit-transition: $transition;
  -o-transition:$transition;
  -moz-transition:$transition;
}


.angular-google-map-container {
  height: 400px;
  border: 1px solid $dkgrey;

}

// Custom Styles
body {
  background: yellow;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $ltgrey;
}
h1 {
text-align: center;
font-family: $font;
  font-size: 4em;
  background: -webkit-linear-gradient(#eee, #ddbf00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
a {
  font-family: $font;
  color: $ltgrey;
  &:hover {
    color: $beer;
  }
}

header {
  margin-bottom: 15px;
  img {
    vertical-align: bottom;
    margin-left: -20px;
  }
}
img{
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin: 0 0 0 -1px;
}
#google_places_ac {
  height: 50px;
  background-color: $dkgrey;
  border-radius: 5px;
  border: 3px solid $beer;
  width: 300px;
margin-left: -67px;
 }


#searchBtn {
  height: 50px;
  font-family: $font;
  background-color: $beer;
  border: 3px solid $beer;
  width: 100px;
  &:hover {
  background-color: $dkgrey;
  @include transition(all .3s ease);
  color: white;
  &:focus {
  outline: none;
}

  }
}
.chugefresh {
  display: inline-block;
  height: 150px;
  width: 150px;
}


ul li {
  font-family: $font;
  display: inline-block;
  a{
    text-decoration: none;
  }
}
.fa-beer {
  color: $beer;
}
.hero-unit {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    margin-right: 5px;
  }
}

.hero {
  display: inline-block;
  /* width: 25%; */
  vertical-align: top;
}

h3 {
  font-family: $pfont;
  font-size: 2em;
  text-align: center;
  margin-top: -26px 0 66px 0;

}

.results {
  display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 15px;
}

.barz {
  width: 27%;
 border-radius: 10px;
 box-shadow: 9px 7px 12px -5px rgba(0,0,0, 0.6);
 padding: 60px;
  margin: 10px;
  background: rgba(0, 0, 0, 0.1);
}





.newComForm{
  display: block;
    input {
      margin: 1% 0 0 0;
      height: 75px;
      background-color: $dkgrey;
      border-radius: 5px;
      border: 3px solid $beer;
      word-break: break-all;
  }
}
#newComBtn, {
display: block;
  height: 50px;
  font-family: $font;
  background-color: $beer;
  border: 3px solid $beer;
  border-radius: 5px;
    &:hover {
      background: $dkgrey;
      @include transition(all .3s ease);
      color: white;
}}

#newComSubmit {
  display: block;
  height: 50px;
  font-family: $font;
  background-color: $beer;
  border: 3px solid $beer;
  border-radius: 5px;
    &:hover {
      background: $dkgrey;
      @include transition(all .3s ease);
      color: white;
}}

.reviews{
  border-radius: 10px;
 box-shadow: 9px 7px 12px -5px rgba(0,0,0, 0.6);
 padding: 35px;
  margin: 10px;
  background: rgba(0, 0, 0, 0.1);
  word-break: break-word;

}
