$white: #fffefc;
$lime: #caf200;
$dkgrey: #333333;
$grey: #ccc;
$ltgrey: #e2e3df;
$beer: #DDBF00;
$font: 'UnifrakturMaguntia', serif;


.angular-google-map-container {
  height: 400px;
  border: 1px solid $dkgrey;

}

// Custom Styles
body {
  background: $dkgrey;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $ltgrey;
  margin: 0 0 0 30%;
}
h1 {
  text-align: center;
  font-family: $font;
  background: -webkit-linear-gradient(#eee, #ddbf00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
a {
  font-family: $font;
  color: $ltgrey;
  &:hover {
    color: $beer;
  }
}
img{
  display: inline-block;
}
input {
  height: 100px;
}
button {
height: 100px;
font-family: $font;
color: $dkgrey;

}
.chugefresh {
  display: inline-block;
  height: 150px;
}

ul li {
  font-family: $font;
  display: inline-block;
  a{
    text-decoration: none;
  }
}
.fa-beer {
  color: $beer;
}
.hero-unit {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.hero {
  display: inline-block;
  /* width: 25%; */
  vertical-align: top;
}
