
<div>
  <span><a href="#/"><h2><i class="fa fa-chevron-left"></i>BACK</h2></a></span>
  <a href="">MAP</a>

<div class="col-sm-12 info">

</div>
<div class="comments col-sm-12">
  <ul>
    <li ng-repeat="review for bar">

    </li>
  </ul>
  <button ng-show="review"><h3><i class="fa fa-beer"></i>  review</h3></button>
  <form action="submit" ng-show="review = !review">
    <p>{{NAME}}</p>
    <p>{{ADDRESS}}</p>
    <select name="Rating" id="">
      <option value= 1><h3>1</h3></option>
      <option value= 2><h3>2</h3></option>
      <option value= 3><h3>3</h3></option>
      <option value= 4><h3>4</h3></option>
      <option value= 5><h3>5</h3></option>
    </select>
    <select name="Category" id="">
      <option value="Swanky"><h3>Swanky</h3></option>
      <option value="Reasonable"><h3>Reasonable</h3></option>
      <option value="Frat Bar"><h3>Frat Bar</h3></option>
      <option value="Dive"><h3>It's a dive</h3></option>
    </select>
  </form>
</div>

</div>
