<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <google-places location=location></google-places>
      <button ng-click="doSearch()" id="searchBtn" class="btn btn-large btn-primary">Search</button>
    </div>
    <div class="col-md-4"></div>

  </div>

  <div id='main'></div>
  <div id='map'></div>


<!-- google api rendered results -->
<div class="results">
 <div class="barz"  ng-repeat="bars in google.allBars">
  <a href="#detail/{{$index}}">
   <h3>{{bars.name}}</h3>

    <img ng-src="{{bars.photos[0].getUrl({'maxWidth': 200, 'maxHeight': 200})}}" loading-src="../chugefresh.png">
  </a>
 </div>
</div>
</div>
