<!-- <h1>Dranksta!</h1>

google maps places api
<form ng-submit='google.locationInput(newLocation)' action="">
    <input type="text" name="locName" value="locName" ng-model='newLocation' placeholder="name">
    <button type="submit">this</button>
  </form>
  <a href="#/discover">Show Me Bars!</a> -->

  <div id='main'></div>
  <div id='map'></div>
<!-- //// -->
<!-- google autocomplete -->
<div ng-controller="GoogleCtrl as google">
<google-places location=location></google-places>
    <button ng-click="doSearch()" class="btn btn-large btn-primary">Search</button>
 </div>
